* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'JandaManateeSolid';
    src: url(fonts/JandaManateeSolid.ttf);
}

body {
    background-color: #DCE6F2;
}

#menu {
    padding: 10px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button, #startPlayer {
    margin: 5px;
}

#startPlayer {
    font-family: JandaManateeSolid;
    font-size: 3vw;
    color: #9904D9;
}

button {
    padding: 1vw;
    border: none;
    background-color: #1E0D8C;
    color: white;
    font-size: 1.5vw;
    border-radius: 1vw;
}

button:hover {
    background-color: #9904D9;
    cursor: pointer;
}

#game {
    width: 32vw;
    height: 31vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1vw;
    margin: 0px auto;
}

.posGame {
    width: 9vw;
    height: 9vw;
    margin: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: JandaManateeSolid;
    font-size: 9vw;
    background-color: #DCE6F2;
    color: #1E0D8C;
}

#p1 {
    border-right: 1vw solid #9904D9;
    border-bottom: 1vw solid #9904D9;
}

#p2 {
    border-left: 1vw solid #9904D9;
    border-right: 1vw solid #9904D9;
    border-bottom: 1vw solid #9904D9;
    margin-left: -0.5vw;
}

#p3 {
    border-left: 1vw solid #9904D9;
    border-bottom: 1vw solid #9904D9;
    margin-left: -0.5vw;
}

#p4 {
    border-top: 1vw solid #9904D9;
    border-right: 1vw solid #9904D9;
    border-bottom: 1vw solid #9904D9;
    margin-top: -8px;
}

#p5 {
    border: 1vw solid #9904D9;
    margin-top: -8px;
    margin-left: -0.5vw;
}

#p6 {
    border-left: 1vw solid #9904D9;
    border-top: 1vw solid #9904D9;
    border-bottom: 1vw solid #9904D9;
    margin-top: -8px;
    margin-left: -0.5vw;
}

#p7 {
    border-top: 1vw solid #9904D9;
    border-right: 1vw solid #9904D9;
    margin-top: -8px;
}

#p8 {
    border-left: 1vw solid #9904D9;
    border-right: 1vw solid #9904D9;
    border-top: 1vw solid #9904D9;
    margin-top: -8px;
    margin-left: -0.5vw;
}

#p9 {
    border-left: 1vw solid #9904D9;
    border-top: 1vw solid #9904D9;
    margin-top: -8px;
    margin-left: -0.5vw;
}